#!/bin/bash                                           
# author: Bc. Josef Jebavý 
# date: 2021-02-09
# config file for backup skript


echo "----- load configuration --------"
SourceDir=$HOME
AdrZALOHY=/home/backuper/BACKUP/DIR
USER="backuper"
PORT="33002"
IP="192.168.1.198"

#disable backup for dirs:
EXCLUDE="--exclude=lost+found --exclude=tmp --exclude=temp  \
--exclude=proc --exclude=sys --exclude=dev --exclude=media --exclude=mnt \
--exclude=var/lib/mysql/ --exclude=var/lib/docker \
--exclude=var/tmp --exclude=var/lib/yum/ --exclude=var/cache --exclude=run/log/journal "
# mysql zalohovat dumpem DB

# grant select,SHOW DATABASES,lock tables  on *.* to backup@localhost identified by 'pass';
# grant all PRIVILEGES  on *.* to backup@localhost ;
# FLUSH PRIVILEGES;
DBPASS="TODO"
DBNAME="--all-databases"
